<h2>アカウント編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email,"メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password,"パスワード" %> <i>(変更する場合のみ記入)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <em><%= @minimum_password_length %>文字以上入力してください</em>

  </div>

  <div class="field">
    <%= f.label :password_confirmation,"パスワードの確認" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password,"現在のパスワード" %> <i>(本人確認のために必要です)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>


<p><%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "削除してもいいですか？" }, method: :delete %></p>

<%= link_to "戻る", :back %>
